*:root {
    font-size: 10px
}

* {
    direction: rtl;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
}

@font-face {
    font-family: titr;
    src: url(titr.ttf);
}

@font-face {
    font-family: iran;
    src: url(IranNastaliq.ttf);
}


/***************************/


a {
    font-size: 25px;
    text-decoration: none;
    color: brown;
    text-shadow: -10px 10px 5px brown;
    margin-left: 10%;
    font-family: titr;
}

a:hover {
    color: orange;
    text-shadow: 5px 5px 5px orange;
}

a:active {
    color: blue;
    text-shadow: -5px -5px 5px blue;
}

.first-buttons {
    margin: 15px;
}

.welcome-to-nokhbegan {
    margin: 2% 2% 0 0;
    font-family: titr;
    text-align: center;
    font-size: 3.7rem;
    border: 5px double rgb(0, 0, 0);
    background-color: rgb(125, 125, 125);
    text-shadow: 0px 10px 10px red;
    color: yellow;
    box-shadow: 10px 10px 10px red;
    transition: all 2.5s
}

.welcome-to-nokhbegan:hover {
    font-size: 30px;
    border-radius: 50%;
    border: 40px double rgb(255, 255, 255);
    color: red;
    text-shadow: 500px 0px 0px yellow;
    padding-right: 500px;
    box-shadow: 10px -10px 10px red;
}

.welcome-to-nokhbegan:active {
    
    /* margin: 100px 0px 20px 0px; */
        overflow: hidden;
    display: block;
    border: 10px solid green;
    background-image: url(picture_resurce/pv.bmp);
    background-repeat: no-repeat;


    font-size: 30px;
    border-radius: 0;
    color: red;
    text-shadow: unset;
    padding-right: unset;
    padding-top: 300px;
    box-shadow: unset;




}

#background-fixed {
    background-image: url(picture_resurce/pv.bmp);
    background-attachment: fixed;
    margin: 100px 0px 20px 0px;
    display: block;
    border: 10px solid green;
    height: 180px;
    width: 100%;
}

#lbl-class-page {
    border: 4px double black;
    box-shadow: 10px 5px 5px red;
    margin: 0px 0px 20px 120px;
    display: inline-block;
    color: white;
    background-color: purple;
    width: 200px;
    font-family: titr;
    font-size: 3rem;
}

.right-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transition: all .75s;
}

.right-image:hover {
    border: 5px solid blue;
    box-shadow: 10px 10px 10px purple;
}

.right-image {
    border: 0px solid white;
}

myhr {
    display: block;
    margin: 1% 0.5% 0 0.5%;
    border: 5px dashed gray;
    border-style: ridge;
}
div:hover #a {
    width: 0;
    height: 0;
}
