:root {
    --bs-brown: rgb(153, 68, 68);
    font-size: 10px
}

::selection {
    color: blue;
}

.a-costom {
    color: var(--bs-brown);
    text-decoration: none;
    background-color: red;
}

*,
*::after,
*::before {
    direction: rtl;
    font-size: 22px;
    text-align: center;
    box-sizing: border-box;
}

@font-face {
    font-family: titr;
    src: url(titr.ttf);
}

a {
    font-size: 25px;
    text-decoration: none;
    color: brown;
    text-shadow: -10px 10px 5px brown;
    margin-left: 12.5%;
    font-family: titr;
    transition: all 500ms;
}

a:hover {
    color: orange;
    text-shadow: 5px 5px 5px orange;
}

a:active {
    color: blue;
    text-shadow: -5px -5px 5px blue;
}

.first-buttons {
    margin: 15px;
}

#panel {
    background-color: blue;
    width: 0;
    height: 0;
    overflow: hidden;
    font-family: titr;
    transition: all 1s;
}

#pre-f {
    display: inline;
}

#pre-f:active #panel,
#pre-f:hover #panel,
#panel:hover {
    width: 100%;
    height: 180px;
}

.welcome-to-nokhbegan {
    margin: 2% 2% 0 0;
    font-family: titr;
    text-align: center;
    font-size: 3.7rem;
    border: 5px double rgb(0, 0, 0);
    background-color: rgb(125, 125, 125);
    text-shadow: 0px 10px 10px red;
    color: yellow;
    box-shadow: 10px 10px 10px red;
    transition: all 2.5s
}

.welcome-to-nokhbegan:hover {
    background-color: white;
    border-radius: 100px;
    border: 20px double;
    color: black;
    text-shadow: 500px 0px 0px yellow;
    padding-right: 500px;
    box-shadow: 10px -10px 10px red;
}

.welcome-to-nokhbegan:active {
    border: 10px solid green;
    background-image: url(picture_resurce/pv.bmp);
    background-repeat: no-repeat;
    font-size: 30px;
    border-radius: 0;
    color: red;
    text-shadow: 0 45px 0 red;
    padding-top: 300px;
    box-shadow: unset;
}

#background-fixed {
    background-image: url(picture_resurce/pv.bmp);
    background-attachment: fixed;
    margin: 100px 0px 20px 0px;
    display: block;
    border: 10px solid green;
    height: 180px;
    width: 100%;
}

#lbl-class-page {
    border: 4px double black;
    box-shadow: 10px 5px 5px red;
    margin: 0px 0px 20px 120px;
    display: inline-block;
    color: white;
    background-color: purple;
    width: 200px;
    font-family: titr;
    font-size: 3rem;
}

.right-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transition: all .75s;
}

.right-image:hover {
    border: 5px solid blue;
    box-shadow: 10px 10px 10px purple;
}

.right-image {
    border: 0px solid white;
}

myhr {
    display: block;
    margin: 1% 0.5% 0 0.5%;
    border: 5px dashed gray;
    border-style: ridge;
}

div:hover #a {
    width: 0;
    height: 0;
}

#three-line {
    display: block;
}

/* @media (min-width: 1000px) {
    #three-line {
        overflow: hidden;
        width: 0;
        height: 0;
    }

    .welcome-to-nokhbegan:hover {
        padding-right: 380px;
        text-shadow: 0 45px 0 red;
        box-shadow: unset;
    }
}
