::selection {
    background-color: black;
    color: lightpink;
}

* {
    direction: rtl;
    font-size: 22px;
    text-align: center;
    box-sizing: border-box;
    transition: all .5s
}

@font-face {
    font-family: titr;
    src: url(titr.ttf);
}

a {
    text-decoration: none;
    color: brown;
    text-shadow: -10px 10px 5px brown;
    font-family: titr;
    transition: all 250ms;
}

a:hover {
    color: orange;
    text-shadow: 5px 5px 5px orange;
}

a:active {
    color: blue;
    text-shadow: -5px -5px 5px blue;
}

.first-buttons {
    margin: 15px;
}

#panel {
    background-color: blue;
    font-family: titr;
    margin-top: 12px;
}

#pre-f:active #panel,
#pre-f:hover #panel {
    width: 100%;
    height: 250px;
}

#panel,
#pre-f {
    overflow: hidden;
    width: 0;
    height: 0;
}

.welcome-to-nokhbegan {
    margin: 1% 1% 0 1%;
    font-family: titr;
    text-align: center;
    border: 5px double rgb(0, 0, 0);
    background-color: rgb(125, 125, 125);
    text-shadow: 0px 10px 10px red;
    color: yellow;
    box-shadow: 10px -2px 10px red
}

.welcome-to-nokhbegan:hover {
    background-color: white;
    border: 20px double;
    color: black;
    border-radius: 50px;
    text-shadow: 600px 0px 0px yellow;
    padding-right: 600px;
    box-shadow: 10px -10px 10px red;
}

.welcome-to-nokhbegan:active {
    border: 10px solid green;
    background-image: url(picture_resurce/news/news.bmp);
    border-radius: 0;
    color: red;
    text-shadow: 0 50px 0 blueviolet;
    padding-top: 300px;
    box-shadow: 10px -10px 10px yellowgreen;
}

#background-fixed {
    background-image: url(picture_resurce/news/news.bmp);
    background-attachment: fixed;
    margin: 50px 0px 20px 0px;
    display: block;
    border: 10px solid green;
    height: 180px;
    width: 100%;
}

#lbl-class-page {
    border: 4px double black;
    box-shadow: 10px 5px 5px red;
    margin: 0px 0px 20px 120px;
    display: inline-block;
    color: white;
    background-color: purple;
    width: 200px;
    font-family: titr;
    font-size: 25px;
}

.right-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 12.5%;
}

.right-image:hover {
    box-shadow: 75px 10px 10px purple;
}

myhr {
    display: block;
    border: 5px dashed gray;
    border-style: ridge;
    margin: 2%2%02%;
}

h1 {
    display: inline;
    font-size: 40px
}

#more-info {
    color: lightpink;
    text-shadow: unset;
    padding-right: 15%;
}

#three-line {
    transition: unset;
    color: white;
    height: 0
}

@media (max-width: 1000px) {
    myhr {
        border: unset
    }

    .welcome-to-nokhbegan:hover {
        border-radius: 100px;
        text-shadow: unset;
        padding-right: unset;
        box-shadow: unset
    }

    .welcome-to-nokhbegan:active {
        border-radius: 100px;
        text-shadow: 0 50px 0 blueviolet;
        box-shadow: 10px -10px 10px yellowgreen
    }
}

@media (min-width: 720px) and (max-width: 1200px) {
    #three-line {
        width: 100px
    }


}

@media (min-width: 480px) and (max-width: 720px) {
    * {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .welcome-to-nokhbegan:hover {
        border-radius: 100px;
        text-shadow: unset;
        padding-right: unset;
        box-shadow: unset
    }

    .welcome-to-nokhbegan:active {
        border-radius: 100px;
        text-shadow: 0 50px 0 blueviolet;
        box-shadow: 10px -10px 10px yellowgreen
    }

    .right-image {
        margin-left: 0
    }

    .first-buttons {
        font-size: large
    }
}